.holiday-message {
    font-family: var(--font-heading);
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin: 1rem 0 2rem 0;
    line-height: 1.4;
    max-width: 80%;
}

.signature {
    font-family: var(--font-heading);
    font-size: 2rem;
    color: var(--christmas-red);
    margin-top: 2rem;
    text-align: center;
}